
:root {
    --Sidebar_Color: #CDA200;
    --Description_Color: #181818;
    --Active_Color: #BEBEBE;
    --Timer_Color: black;
    --Button_Color: grey;
}
body {
    font-family: "Roboto", sans-serif;
}
.Header {
    margin:-3%;
    text-align: center; 
    font-size:56px; 
}
.Title {
    color:var(--Sidebar_Color); 
    text-align: center;
}

.OuterContent {
    padding-left:15%;
    padding-right:15%;
    overflow: hidden;
}
.Content {
    border-radius:20px;
    border: 1px solid grey;
    overflow: hidden;
    background-color:var(--Description_Color); 
}
.Content:hover {
    box-shadow: 0.5px 1px 2px 0.5px var(--Sidebar_Color);
    transition: 0.2s;
}
.Content > hr {
    margin-top:0px; 
}
.Body_Container {
    display: flex;
    overflow: hidden;
}
.Video_Container {
    width:94%;
}
.The_Video {
    width:100%;
    border-radius:0px;
}
.Control_Group {
    color:black; 
    background-color:var(--Button_Color); 
    font-size:24px;
    width:4%;
}
.Control_Group > div {
    text-align:center;
    height:50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Play_Forward:hover {
    background-color: var(--Active_Color);
    cursor: pointer;
    transition: 0.2s;
}
.Play_Backward:hover {
    background-color: var(--Active_Color);
    cursor: pointer;
    transition: 0.2s;
}
.Skip_Forward:hover {
    background-color: var(--Active_Color);
    cursor: pointer;
    transition: 0.2s;
}
.Skip_Backward:hover {
    background-color: var(--Active_Color);
    cursor: pointer;
    transition: 0.2s;
}

.Footer_Container {
    display: flex;
}
.Description {
    width:100%;
    background-color:var(--Description_Color); 
    font-size:24px;
    padding:3%;
    color:white;
}
.Timekeeper {
    background-color:var(--Timer_Color); 
    text-align:center;
    border-radius:20px;
    color:white;
}


/* This turns off controls in full screen */
video::-webkit-media-controls-enclosure { display:none !important; }

video {	
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}